.header{
    align-items: center;
    background-color: #F3E9F1;
    padding: 20px;
    justify-content: space-between !important;
    margin-bottom: 60px;
    &-nav{
        padding: 20px;
        zoom: 120%;
        color: black;
        &-choix{
            &:hover{
                font-weight: bold;
                transform: scale(1.1);
            }
        }
        &-icon{
            padding: 0 10px;
        }
    }
}
.hero{
    margin: 60px 0;
}
.card{
    &-accueil{
        width: 350px;
        height: 300px;
        margin: 15px;
        &:hover{
            cursor: pointer;
            font-weight: bold;
            transform: scale(1.05);
            text-decoration: none;
            color: black;
        }
    }
}
.img{
    &-ours{
        height: 250px;
    }
}

.footer{
    background-color: #F3E9F1;
    padding: 30px 30px;
    &-services{
        line-height: 30px;
        display: flex;
        flex-direction: column;
        &-text{
            padding-left: 20px;
            color: black;
            &:hover{
                color: black;
                font-weight: bold;
                transform: scale(1.1);
                padding-left: 40px;
            }
        }
    }
    &-contact{
        &-icon{
            padding: 10px;
            zoom: 160%;
            &:hover{
                font-weight: bold;
                transform: scale(1.3);
            }
        }
    }
}