.container-panier{
    margin: 60px 0;
    &-couleur{
        &:hover{
            background-color: #F3E9F1;
        }
        &-choix{
            margin: 20px;
        }
    }
    &-card{
        margin: 60px 10px;
    }
}
.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 0px;
    color: #aaa !important;
}

.suivi{
    background-color: white;
    &  a{
        color : rgb(92, 92, 92);
    }
    
    &-nav{
        display: flex;
        justify-content: center;
        background-color: white;
        &-text{
            padding: 10px;
        }
    }
}

.breadcrumb-item{
    padding-left: 0 !important;
}
.active-2 {
    color: black !important;
    font-weight: bold;
}