.container-panier{
    &-couleur{
        &:hover{
            background-color: #F3E9F1;
        }
        &-choix{
            margin: 20px;
        }
    }
    &-card{
        margin: auto
    }
}
.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 0px;
    color: #aaa !important;
}

.suivi{
    background-color: white;
    &  a{
        color : rgb(92, 92, 92);
    }
    
    &-nav{
        display: flex;
        justify-content: center;
        background-color: white;
        &-text{
            padding: 10px;
        }
    }
}

.breadcrumb-item{
    padding-left: 0 !important;
}
.active-2 {
    color: black !important;
    font-weight: bold;
}
.card-panier{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-supp{
    margin: 0;
    padding: 0;
    border: none;
}

//--------- formulaire ------//
.formulaire{
    border: 2px burlywood solid;
    background-color: burlywood;
    border-radius: 20px;

    &-champs{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;

        &-label{
            font-weight: bold;
        }
    }

    &-btn{
        margin: 20px auto;
    }
    
}